@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--down-decorations-height: 20px;
		--top-decorations-height: 20px;

		/* .theme-light { */
		/* Colors */
		--ctx-menu-separator: #d7d3e2;
		--input-disabled: lightgray;
		--active: #344880;

		--accent-light: #9381ff;
		--accent: #9882ac;

		/* Scrollbar colors */
		--scrollbar-thumb-hover: #555;
		--scrollbar-thumb: #888;
		--scrollbar: #f1f1f1;

		/* Linear gradient colors */
		--lingrad-bottom: #4a00e0;
		--lingrad-top: #8e2de2;

		/* Icon colors */
		--icon-media-player-disabled: #e0e6ee7a;
		--icon-deactivated: dimgray;
		--icon-window-button: black;
		--icon-media-player: #fff;
		--icon-active: #4a00e0;

		/* Text */
		--text-ctx-menu-item-focus: #fff;
		--text-ctx-menu-item: #5747a6;
		--text-ctx-menu: #7a797d;

		--text-placeholder: #a3a3a3;
		--text-alternative: #a3a3a3;
		--text-disabled: #d3d3d5;
		--text-normal: #0c0910;
		--text-muted: #113047;
		--text-input: #111111;

		/* Border */
		--border-selected: #4b00e038;
		--border-playing: #f4a1a9;
		--border-input: #e0e0e0;

		/* Background */
		--bg-ctx-menu-item-focus: #6c56d0;
		--bg-ctx-menu: #fff;

		--bg-media-player-icon-button-hovered: #fff4;
		--bg-icon-button-hovered: #88888857;

		--bg-button-hover: #8e2de2;
		--bg-selected: #aac1ff70;
		--bg-highlight: #9381ff;
		--bg-popover: #f9f6f5;
		--bg-button: #f9f6f5;
		--bg-navbar: #f9f6f5;
		--bg-media: #f9f6f5;
		--bg-main: #f9f6f5;
		--bg-playing: #fff;
		--bg-dialog: #fff;
		--bg-select: #fff;

		/* Shadows */
		--shadow-dialog: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
			hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

		--shadow-media-player-img: rgba(255, 255, 255, 0.3) 0 0 20px;

		--shadow-row-wrapper: rgba(0, 0, 0, 0.16) 0 0 6px;

		--shadow-reflect: 0px 50px 70px rgba(0, 0, 0, 0.3),
			0px 10px 10px rgba(0, 0, 0, 0.1);

		/* Shadow colors */
		--shadow-glow-around-component: 7px 7px 14px #b1b1b1, -7px -7px 14px #fff;

		--shadow-popover: 0 0 8px rgba(0, 0, 0, 0.2);
		/* } */
	}

	.theme-dark {
		/* Colors */
		--ctx-menu-separator: #d7d3e2;
		--input-disabled: gray;
		--active: #0072f5;

		--accent-light: #f4a1a9;
		--accent: #c04569;

		/* Scrollbar colors */
		--scrollbar-thumb-hover: #565d61;
		--scrollbar-thumb: #454a4d;
		--scrollbar: #202324;

		/* Linear gradient colors */
		--lingrad-bottom: #0b3866;
		--lingrad-top: #103783;

		/* Icon colors */
		--icon-media-player-disabled: #e0e6ee7a;
		--icon-media-player: #f3f3ee;
		--icon-deactivated: #6272a4;
		--icon-window-button: #fff;
		--icon-active: #4a00e0;

		/* Text */
		--text-ctx-menu-item-focus: #fff;
		--text-ctx-menu-item: #5747a6;
		--text-ctx-menu: #7a797d;

		--text-placeholder: #a3a3a3;
		--text-alternative: #a3a3a3;
		--text-disabled: #d3d3d5;
		--text-normal: #f6f6f6;
		--text-muted: #ccb69b;
		--text-input: #f5f5f5;

		/* Border */
		--border-selected: #4d4d4d;
		--border-playing: #c04569;
		--border-input: #4d4d4d;

		/* Background */
		--bg-ctx-menu-item-focus: #6c56d0;
		--bg-ctx-menu: #fff;

		--bg-media-player-icon-button-hovered: #fff4;
		--bg-icon-button-hovered: #fff2;

		--bg-button-hover: #08368d;
		--bg-highlight: #c04569;
		--bg-selected: #252121;
		--bg-popover: #182825;
		--bg-navbar: #191a21;
		--bg-button: #191a21;
		--bg-dialog: #182825;
		--bg-playing: black;
		--bg-media: #191a21;
		--bg-main: #191a21;
		/* Falta esse: */
		--bg-select: #fff;

		/* Shadows */
		--shadow-dialog: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
			hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

		--shadow-media-player-img: rgba(0, 0, 0, 0.3) 0 0 20px;

		--shadow-row-wrapper: rgba(255, 255, 255, 0.16) 0 0 6px;

		--shadow-reflect: 0px 50px 70px rgba(0, 0, 0, 0.3),
			0px 10px 10px rgba(0, 0, 0, 0.1);

		/* Shadow colors */
		--shadow-glow-around-component: 7px 7px 14px #b1b1b1, -7px -7px 14px #fff;

		--shadow-popover: 0 0 8px rgba(0, 0, 0, 0.3);
	}

	* {
		transition-property: color, background-color, border-color, box-shadow,
			-webkit-scrollbar-track, -webkit-scrollbar-thumb, caret-color;
		transition-timing-function: ease;
		transition-duration: 0.25s;
	}

	*,
	*::after,
	*::before {
		text-rendering: optimizeLegibility;
		box-sizing: inherit;

		overscroll-behavior: none;
	}

	html {
		@apply caret-accent selection:bg-accent selection:text-white overflow-hidden;
	}

	body {
		position: fixed;
		line-height: 1.5;
		size: 100%;

		/* contain-intrinsic-size: auto; */
		contain-intrinsic-size: 1px 5000px;
		content-visibility: auto;
		overflow: hidden;
	}

	body::-webkit-scrollbar {
		display: none;
	}

	button {
		-webkit-app-region: no-drag;
	}

	/* assistant-300 - latin */
	@font-face {
		font-family: "Assistant";
		fontstyle: normal;
		fontweight: 300;
		src: url("./assets/assistant-v16-latin-300.woff2") format("woff2");
	}

	/* assistant-regular-400 - latin */
	@font-face {
		font-family: "Assistant";
		fontstyle: normal;
		fontweight: 400;
		src: url("./assets/assistant-v16-latin-regular.woff2") format("woff2");
	}

	/* assistant-500 - latin */
	@font-face {
		font-family: "Assistant";
		fontstyle: normal;
		fontweight: 500;
		src: url("./assets/assistant-v16-latin-500.woff2") format("woff2");
	}

	/* source-sans-pro-regular-400 - latin */
	@font-face {
		font-family: "Source Sans Pro";
		fontstyle: normal;
		fontweight: 400;
		src: url("./assets/source-sans-pro-v21-latin-regular.woff2") format("woff2");
	}
}

@layer components {
	.grid-template-for-content-wrapper {
		display: grid;
		grid-template: "nav main-area media-player" 100vw / 65px 1fr minmax(
				200px,
				25vw
			);
		width: 100vw;
		height: calc(
			100vh - var(--top-decorations-height) - var(--down-decorations-height)
		);

		margin-top: var(--top-decorations-height);
		background: var(--bg-main);

		@media (min-width: 640px) {
			grid-template:
				"nav main-area" 1fr / 35px 1fr
				"media-player" 70px / 1fr;
		}
	}

	.no-transition * {
		/* maybe add !important */
		transition: none;
	}

	.perspective-10 {
		perspective: 1000px;
	}

	.transform-preserve-3d {
		transform-style: preserve-3d;
	}

	.backface-visibility-hidden {
		backface-visibility: hidden;
	}

	.rotate-y-180 {
		transform: rotateY("180deg");
	}

	.flip-active > div {
		@apply rotate-y-180;
	}

	.input {
		width: calc(100% - 115px);
		height: 35px;

		border: 2px solid var(--border-input);
		border-radius: 12px;

		transition-property: border-color, background;
		transition: 250ms ease;
	}

	.input:hover,
	.input:focus {
		border-color: var(--active);
		background: var(--active);
		color: white;
	}

	.file-present {
		background: rgb(0, 255, 89);
		color: black;

		transition: border-color 250ms ease;
	}

	.file-present:hover,
	.file-present:focus {
		background: var(--active);
		color: white;
	}

	.lg-button {
		width: 300px;

		margin: 40px auto 0;
		padding: 16px;

		border-radius: 8px;
	}

	.single-button {
		height: 40px;
		width: 40px;

		border-radius: 50%;
		padding: 0;
	}

	.reflect-img {
		-webkit-box-reflect: below 0px
			linear-gradient(
				to bottom,
				from(transparent),
				color-stop(40%, transparent),
				to(rgba(255, 255, 255, 0.1))
			);

		/* "-webkit-box-reflect": `below 0px
			-webkit-gradient(linear, right top, right	bottom,
				from(transparent),
				color-stop(40%, transparent),
				to(rgba(255, 255, 255, 0.1))
			)`, */
	}

	/* Scrollbar */
	.scroll {
		scrollbar-gutter: stable;
		overflow-y: auto;
	}

	.scroll-2 {
		scrollbar-width: 4px;
	}

	.scroll-1 {
		scrollbar-width: 2px;
	}

	.scroll-white::-webkit-scrollbar-track {
		background: white;
	}

	.scroll-white::-webkit-scrollbar-thumb {
		background: white;
	}

	.scroll-white::-webkit-scrollbar-thumb:hover {
		background: white;
	}

	.scroll::-webkit-scrollbar {
		display: block;
	}

	.scroll::-webkit-scrollbar-track {
		background: var(--scrollbar);
	}

	.scroll::-webkit-scrollbar-thumb {
		background: var(--scrollbar-thumb);
	}

	.scroll::-webkit-scrollbar-thumb:hover {
		background: var(--scrollbar-thumb-hover);
	}

	.active-label {
		left: -30px;
		top: -180%;

		color: var(--active);
		cursor: default;
	}

	.transition-label {
		transition-property: color, top, left;
		transition-timing-function: ease;
		transition-duration: 200ms;
	}

	.list-decimal-zero {
		list-style: decimal-leading-zero inside;
	}

	.unset-all {
		all: unset;
	}

	.transition-width {
		transition-property: width;
	}

	progress[value]::-webkit-progress-value {
		background: var(--accent);
	}

	progress[value]::-webkit-progress-bar {
		background: #a8a8a880;
	}

	.nothing-found-for-convertions-or-downloads {
		@apply h-28 w-64 overflow-hidden;
	}

	.nothing-found-for-search-media {
		@apply max-h-24 min-h-[3rem] w-80;
	}

	.convertions-or-downloads {
		@apply h-80 w-64;
	}

	.search-media-results {
		@apply absolute h-64 w-80 top-24 left-[calc(64px+3.5vw)];
	}

	.grid-area-nav {
		grid-area: nav;
	}

	.grid-area-media-player {
		grid-area: media-player;
	}

	.grid-media-player {
		@apply inline-block justify-self-center self-center w-screen h-16;
	}

	.active-icon {
		@apply text-icon-active;
	}

	.circle-icon-button-small {
		@apply h-8 w-8;
	}

	.circle-icon-button-large {
		@apply h-12 w-12;
	}

	.progress {
		@apply absolute flex justify-center items-center bottom-3 h-5 w-9 transition-none bg-main rounded-sm font-primary text-center text-sm text-normal font-medium;
	}

	.delete-media {
		background: #bb2b2e;
		color: white;
	}

	.delete-media:hover {
		background: #821e20;
	}

	.delete-media:focus {
		background: #821e20;
	}

	.center {
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
	}

	.animation-overlay-show {
		animation: overlay-show 90ms linear;
	}

	.transition-border {
		transition: border-color 200ms ease;
	}

	.transition-shadow:hover,
	.transition-shadow:focus,
	.active-shadow {
		transition: box-shadow 200ms ease-out 32ms;
		box-shadow: var(--shadow-row-wrapper);
	}

	.row-wrapper {
		@apply box-border relative flex justify-start items-center w-[98%] h-16 left-2 transition-none rounded-lg p-2 transition-shadow;
	}

	.delete-media-overlay {
		@apply w-80 h-5;
	}
}

@keyframes overlay-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
