@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--down-decorations-height: 20px;
		--top-decorations-height: 27px;
		--main-height: 100vh - var(--down-decorations-height) -
			var(--top-decorations-height);

		/* Default theme: light */
		/* Colors */
		--ctx-menu-separator: #d7d3e2;
		--selected-border: #4b00e038;
		--playing-border: #f4a1a9;
		--input-disabled: lightgray;
		--active: #4a00e0;

		--accent-light: #9381ff;
		--accent: #9882ac;

		/* Scrollbar colors */
		--scrollbar-thumb-hover: #555;
		--scrollbar-thumb: #888;
		--scrollbar: #f1f1f1;

		/* Linear gradient colors */
		--lingrad-bottom: #4a00e0;
		--lingrad-top: #8e2de2;

		/* Icon colors */
		--icon-media-player-disabled: #e0e6ee7a;
		--icon-deactivated: dimgray;
		--icon-window-button: black;
		--icon-media-player: #fff;

		/* Text */
		--text-ctx-menu-item-focus: #fff;
		--text-ctx-menu-item: #5747a6;
		--text-ctx-menu: #7a797d;

		--text-placeholder: #a3a3a3;
		--text-alternative: #a3a3a3;
		--text-disabled: #d3d3d5;
		--text-normal: #0c0910;
		--text-muted: #113047;
		--text-input: #111111;

		/* Border */
		--border-input: #e0e0e0;

		/* Background */
		--bg-ctx-menu-item-focus: #6c56d0;
		--bg-ctx-menu: #fff;

		--bg-media-player-icon-button-hovered: #fff4;
		--bg-icon-button-hovered: #88888857;

		--bg-button-hover: #8e2de2;
		--bg-selected: #aac1ff70;
		--bg-highlight: #9381ff;
		--bg-popover: #f9f6f5;
		--bg-button: #f9f6f5;
		--bg-navbar: #f9f6f5;
		--bg-media: #f9f6f5;
		--bg-main: #f9f6f5;
		--bg-playing: #fff;
		--bg-dialog: #fff;
		--bg-select: #fff;

		/* Shadows */
		--shadow-dialog: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
			hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

		--shadow-media-player-img: rgba(255, 255, 255, 0.3) 0 0 20px;

		--shadow-row-wrapper: rgba(0, 0, 0, 0.16) 0 0 6px;

		--shadow-reflect: 0px 50px 70px rgba(0, 0, 0, 0.3),
			0px 10px 10px rgba(0, 0, 0, 0.1);

		/* Shadow colors */
		--shadow-glow-around-component: 7px 7px 14px #b1b1b1, -7px -7px 14px #fff;

		--shadow-popover: 0 0 8px rgba(0, 0, 0, 0.2);
		/* } */
	}

	html[data-theme="dark"] {
		/* Colors */
		--ctx-menu-separator: #d7d3e2;
		--selected-border: #4d4d4d;
		--playing-border: #c04569;
		--input-disabled: gray;
		--active: #ff7be9;

		--accent-light: #f4a1a9;
		--accent: #e94374;

		/* Scrollbar colors */
		--scrollbar-thumb-hover: #565d61;
		--scrollbar-thumb: #454a4d;
		--scrollbar: #202324;

		/* Linear gradient colors */
		--lingrad-bottom: #0b3866;
		--lingrad-top: #103783;

		/* Icon colors */
		--icon-media-player-disabled: #e0e6ee7a;
		--icon-media-player: #f3f3ee;
		--icon-deactivated: #6272a4;
		--icon-window-button: #fff;

		/* Text */
		--text-ctx-menu-item-focus: #fff;
		--text-ctx-menu-item: #5747a6;
		--text-ctx-menu: #7a797d;

		--text-placeholder: #a3a3a3;
		--text-alternative: #a3a3a3;
		--text-disabled: #d3d3d5;
		--text-normal: #f6f6f6;
		--text-muted: #ccb69b;
		--text-input: #f5f5f5;

		/* Border */
		--border-input: #4d4d4d;

		/* Background */
		--bg-ctx-menu-item-focus: #6c56d0;
		--bg-ctx-menu: #fff;

		--bg-media-player-icon-button-hovered: #fff4;
		--bg-icon-button-hovered: #fff2;

		--bg-button-hover: #08368d;
		--bg-highlight: #c04569;
		--bg-selected: #252121;
		--bg-popover: #182825;
		--bg-navbar: #191a21;
		--bg-button: #191a21;
		--bg-dialog: #182825;
		--bg-playing: black;
		--bg-media: #191a21;
		--bg-main: #191a21;
		/* Falta esse: */
		--bg-select: #fff;

		/* Shadows */
		--shadow-dialog: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
			hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

		--shadow-media-player-img: rgba(0, 0, 0, 0.3) 0 0 20px;

		--shadow-row-wrapper: rgba(255, 255, 255, 0.16) 0 0 6px;

		--shadow-reflect: 0px 50px 70px rgba(0, 0, 0, 0.3),
			0px 10px 10px rgba(0, 0, 0, 0.1);

		/* Shadow colors */
		--shadow-glow-around-component: 7px 7px 14px #b1b1b1, -7px -7px 14px #fff;

		--shadow-popover: 0 0 8px rgba(0, 0, 0, 0.3);
	}

	* {
		transition-property: color, background-color, border-color, box-shadow,
			-webkit-scrollbar-track, -webkit-scrollbar-thumb, -webkit-scrollbar,
			caret-color;
		transition-timing-function: ease;
		transition-duration: 0.25s;
	}

	*,
	*::after,
	*::before {
		text-rendering: optimizeLegibility;
		box-sizing: border-box;

		overscroll-behavior: none;
	}

	html {
		@apply caret-accent selection:bg-accent selection:text-white overflow-hidden;
	}

	body {
		@apply fixed leading-normal h-full w-full overflow-hidden;

		contain-intrinsic-size: 1px 5000px;
		content-visibility: auto;
	}

	body::-webkit-scrollbar {
		display: none;
	}

	button {
		-webkit-app-region: no-drag;
	}

	/* assistant-300 - latin */
	@font-face {
		font-family: "Assistant";
		font-style: normal;
		font-weight: 300;
		src: url("./assets/assistant-v16-latin-300.woff2") format("woff2");
	}

	/* assistant-regular-400 - latin */
	@font-face {
		font-family: "Assistant";
		font-style: normal;
		font-weight: 400;
		src: url("./assets/assistant-v16-latin-regular.woff2") format("woff2");
	}

	/* assistant-500 - latin */
	@font-face {
		font-family: "Assistant";
		font-style: normal;
		font-weight: 500;
		src: url("./assets/assistant-v16-latin-500.woff2") format("woff2");
	}

	/* source-sans-pro-regular-400 - latin */
	@font-face {
		font-family: "Source Sans Pro";
		font-style: normal;
		font-weight: 400;
		src: url("./assets/source-sans-pro-v21-latin-regular.woff2") format("woff2");
	}
}

@layer components {
	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Grid disposition */

	.grid-container {
		@apply grid relative w-screen;
		height: calc(var(--main-height));

		grid-template-columns: [nav] 56px [main] calc(100vw - 220px - 56px) [media-player] 220px;
		grid-template-areas: "nav main media-player";
	}

	/* Navbar */

	.nav {
		grid-area: nav;
		height: calc(var(--main-height));

		@apply text-icon-deactivated flex flex-col justify-between items-center py-5 bg-navbar no-transition;
	}

	.nav button:hover,
	.nav button:focus {
		@apply text-active;
	}

	.buttons-for-pages {
		@apply flex flex-col justify-center items-center w-full;
	}

	.buttons-for-pages button {
		@apply flex justify-center items-center h-11 bg-none border-none text-icon-deactivated text-base;
	}

	.buttons-for-pages button:hover,
	.buttons-for-pages button:focus {
		@apply text-active;
	}

	.buttons-for-pages button.active {
		@apply text-active;
	}

	/* Main */

	.main {
		grid-area: main;
		height: calc(var(--main-height));

		@apply flex flex-col p-[5%] pt-0 bg-main;
	}

	/* MediaPlayer */

	.media-player {
		grid-area: media-player;
		height: calc(var(--main-height));

		@apply flex flex-col justify-center items-center p-3;
	}

	.media-player svg {
		@apply text-icon-media-player;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* DecorationsTop */

	.decorations-top {
		@apply relative flex h-[var(--top-decorations-height)] w-screen bg-main app-drag-region;
	}

	/* DecorationsDown */

	.decorations-down {
		@apply relative flex justify-between items-center h-[var(--down-decorations-height)] w-screen select-none bg-scrollbar;
	}

	.decorations-down p {
		@apply flex h-full text-alternative font-secondary tracking-wide text-sm text-center font-medium;
	}

	.decorations-down-left {
		@apply flex justify-center items-center gap-4 first:pl-4;
	}

	.decorations-down-right {
		@apply flex justify-center items-center gap-4 last:pr-4;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Animations */

	.animation-overlay-show {
		animation: overlay-show 70ms linear;
	}

	.animation-fall-away {
		animation: fall-away 600ms ease;
	}

	.animation-move-up {
		animation: move-up 400ms ease 200ms forwards;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Miscellaneous */

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Utils */

	.unset-all {
		all: unset;
	}

	.center {
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
	}

	.app-drag-region {
		-webkit-app-region: drag;
		user-select: none;
	}



	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Transitions */

	.no-transition * {
		transition: none !important;
	}

	.transition-width {
		transition-property: width;
	}

	.transition-bc-bg {
		transition-property: border-color, background;
		transition: 200ms ease;
	}

	.transition-border-color {
		transition: border-color 200ms ease;
	}

	.transition-label {
		transition-property: color, top, left;
		transition-timing-function: ease;
		transition-duration: 200ms;
	}

	.transition-shadow:hover,
	.transition-shadow:focus,
	.active-shadow {
		transition: box-shadow 100ms ease-out 32ms;
		box-shadow: var(--shadow-row-wrapper);
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Progress */

	.progress {
		@apply absolute flex justify-center items-center bottom-3 h-5 w-9 transition-none bg-main rounded-sm font-primary text-center text-sm text-normal font-medium;
	}

	progress[value]::-webkit-progress-value {
		background: var(--accent);
	}

	progress[value]::-webkit-progress-bar {
		background: #a8a8a880;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* FlipCard */

	.perspective-10 {
		perspective: 1000px;
	}

	.transform-preserve-3d {
		transform-style: preserve-3d;
	}

	.backface-visibility-hidden {
		backface-visibility: hidden;
	}

	.rotate-y-180 {
		transform: rotateY("180deg");
	}

	.flip-active > div {
		@apply rotate-y-180;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* GroupedButton */

	.grouped-button {
		@apply relative flex justify-center items-center bg-none no-transition;
	}

	.grouped-button:hover,
	.grouped-button:focus {
		@apply bg-button-hover text-white;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* MediaOptionsModal */

	.file-present {
		@apply transition-border-color text-black bg-[rgb(0,255,89)];
	}

	.file-present:hover,
	.file-present:focus {
		@apply bg-active text-white;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	.single-button {
		height: 40px;
		width: 40px;

		border-radius: 50%;
		padding: 0;
	}

	.reflect-img {
		-webkit-box-reflect: below 0px
			linear-gradient(
				to bottom,
				from(transparent),
				color-stop(40%, transparent),
				to(rgba(255, 255, 255, 0.1))
			);

		/* "-webkit-box-reflect": `below 0px
			-webkit-gradient(linear, right top, right	bottom,
				from(transparent),
				color-stop(40%, transparent),
				to(rgba(255, 255, 255, 0.1))
			)`, */
	}

	.list-decimal-zero {
		list-style: decimal-leading-zero inside;
	}

	.active-icon {
		@apply text-active;
	}

	.delete-media {
		background: #bb2b2e;
		color: white;
	}

	.delete-media:hover {
		background: #821e20;
	}

	.delete-media:focus {
		background: #821e20;
	}

	.row-wrapper {
		@apply box-border relative flex justify-start items-center w-[98%] h-16 left-2 transition-none rounded-lg p-2 transition-shadow;
	}

	.delete-media-overlay {
		@apply w-80 h-5;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	.trigger-search-media {
		@apply absolute top-1/4 right-1;
	}

	.trigger-search-media:hover,
	.trigger-search-media:focus {
		@apply bg-media-player-icon-button-hovered;
	}

	.trigger-search-media:hover svg,
	.trigger-search-media:focus svg {
		color: inherit; /* keep same color */
	}

	.selected-row {
		@apply outline-none outline-selected-border -outline-offset-2 bg-selected;
	}

	.playing-row {
		@apply outline-none outline-playing-border -outline-offset-2 bg-playing;
	}

	.list {
		@apply scroll-2;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* SearchMedia */

	.search-media-wrapper {
		@apply relative flex justify-start items-center w-80 h-10 border-2 border-solid border-input cursor-default rounded-xl bg-none transition-all ease-out duration-200;
	}

	.search-media-wrapper:hover,
	.search-media-wrapper:focus {
		@apply border-active;
	}

	.search-media-wrapper:hover svg,
	.search-media-wrapper:focus svg {
		@apply text-active;
	}

	.search-media-wrapper:hover label,
	.search-media-wrapper:focus label {
		@apply -top-[180%] -left-7 text-active cursor-default;
	}

	.search-media-wrapper svg {
		@apply text-input cursor-default ml-2;
	}

	.search-media-wrapper label {
		@apply absolute flex items-center w-[85%] h-10 left-7 bottom-0 right-0 top-0 m-auto p-0 text-placeholder whitespace-nowrap font-secondary tracking-wider text-base;

		transition-property: color, top, left;
		transition: ease 250ms;
	}

	.active-label {
		@apply -top-[180%] -left-7 text-active cursor-default;
	}

	.search-media-wrapper input {
		@apply absolute flex items-center flex-1 h-9 left-[38px] bottom-0 right-0 top-0 whitespace-nowrap text-input font-primary cursor-text tracking-wider text-base outline-none bg-transparent border-none;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* ToggleTheme */

	.toggle-theme-button {
		@apply flex justify-center items-center w-11 h-11 bg-none border-none text-icon-deactivated;
	}

	.toggle-theme-button:hover,
	.toggle-theme-button:focus {
		@apply hover:text-active focus:text-active;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* CircleIconButton */

	.circle-icon-button {
		@apply relative flex justify-center items-center cursor-pointer bg-none rounded-full border-none;
	}

	.circle-icon-button:focus,
	.circle-icon-button:hover {
		@apply bg-icon-button-hovered;
	}

	.circle-icon-button:disabled {
		@apply bg-none cursor-default;
	}

	.circle-icon-button:disabled svg {
		@apply text-icon-deactivated;
	}

	.circle-icon-button svg {
		@apply text-icon-media-player;
	}

	/* CircleIconButton variants */

	.circle-icon-button-small {
		@apply h-8 w-8;
	}

	.circle-icon-button-large {
		@apply h-12 w-12;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* DialogTrigger */

	.dialog-trigger {
		@apply unset-all relative flex justify-center items-center w-7 h-7 text-icon-deactivated cursor-pointer bg-none rounded-full border-none no-transition;
	}

	.dialog-trigger:hover,
	.dialog-trigger:focus {
		@apply bg-icon-button-hovered;
	}

	.dialog-trigger:hover svg,
	.dialog-trigger:focus svg {
		@apply text-normal bg-icon-button-hovered;
	}
}

/* ********************************** */
/* ********************************** */
/* ********************************** */

/* Keyframes */

@keyframes overlay-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fall-away {
	0% {
		transform: rotateZ(0deg);
		opacity: 1;
		top: 0;
	}

	25% {
		transform: rotateZ(-15deg);
	}

	100% {
		transform: rotateZ(-5deg);
		opacity: 0;
		top: 200;
	}
}

@keyframes move-up {
	0% {
		transform: translateY(0px);
	}

	100% {
		/* -73 is the (height + 1 * gap): */
		transform: translateY(-73px);
	}
}

/* ********************************** */
/* ********************************** */
/* ********************************** */
