@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--down-decorations-height: 20px;
		--top-decorations-height: 27px;
		--main-grid-height: calc(
			100vh - var(--top-decorations-height) - var(--down-decorations-height)
		);

		/* Default theme: light */
		/* Colors */
		--ctx-menu-separator: #d7d3e2;
		--selected-border: #4b00e038;
		--playing-border: #f4a1a9;
		--input-disabled: lightgray;
		--active: #344880;

		--accent-light: #9381ff;
		--accent: #9882ac;

		/* Scrollbar colors */
		--scrollbar-thumb-hover: #555;
		--scrollbar-thumb: #888;
		--scrollbar: #f1f1f1;

		/* Linear gradient colors */
		--lingrad-bottom: #8b0e9e;
		--lingrad-top: #330892;

		/* Icon colors */
		--icon-media-player-disabled: #e0e6ee7a;
		--icon-deactivated: dimgray;
		--icon-window-button: black;
		--icon-media-player: #fff;
		--icon-active: #330892;

		/* Text */
		--text-ctx-menu-item-focus: #fff;
		--text-ctx-menu-item: #5747a6;
		--text-ctx-menu: #7a797d;

		--text-decorations-down: #0f172a;
		--text-placeholder: #a3a3a3;
		--text-alternative: #a3a3a3;
		--text-disabled: #d3d3d5;
		--text-normal: #0c0910;
		--text-oposite: black;
		--text-muted: #113047;
		--text-input: #111111;

		/* Border */
		--border-input: #e0e0e0;

		/* Background */
		--bg-ctx-menu-item-focus: #6c56d0;
		--bg-ctx-menu: #fff;

		--bg-media-player-icon-button-hovered: #fff4;
		--bg-icon-button-hovered: #88888857;

		--bg-decorations-down: #cdc3ff;
		--bg-button-hover: #330892;
		--bg-selected: #aac1ff70;
		--bg-highlight: #9381ff;
		--bg-popover: #f9f6f5;
		--bg-button: #f9f6f5;
		--bg-navbar: #f9f6f5;
		--bg-media: #f9f6f5;
		--bg-main: #f9f6f5;
		--bg-playing: #fff;
		--bg-dialog: #fff;
		--bg-select: #fff;

		/* Shadows */
		--shadow-dialog: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
			hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

		--shadow-media-player-img: rgba(255, 255, 255, 0.3) 0 0 20px;

		--shadow-row-wrapper: rgba(0, 0, 0, 0.16) 0 0 6px;

		--shadow-reflect: 0px 50px 70px rgba(0, 0, 0, 0.3),
			0px 10px 10px rgba(0, 0, 0, 0.1);

		/* Shadow colors */
		--shadow-glow-around-component: 7px 7px 14px #b1b1b1, -7px -7px 14px #fff;

		--shadow-popover: 0 0 8px rgba(0, 0, 0, 0.2);
		/* } */
	}

	html[data-theme="dark"] {
		/* Colors */
		--ctx-menu-separator: #d7d3e2;
		--selected-border: #4d4d4d;
		--playing-border: #c04569;
		--input-disabled: gray;
		--active: #0072f5;

		--accent-light: #f4a1a9;
		--accent: #c04569;

		/* Scrollbar colors */
		--scrollbar-thumb-hover: #565d61;
		--scrollbar-thumb: #454a4d;
		--scrollbar: #202324;

		/* Linear gradient colors */
		--lingrad-bottom: #0b3866;
		--lingrad-top: #103783;

		/* Icon colors */
		--icon-media-player-disabled: #e0e6ee7a;
		--icon-media-player: #f3f3ee;
		--icon-deactivated: #6272a4;
		--icon-window-button: #fff;
		--icon-active: #e4e1e1;

		/* Text */
		--text-ctx-menu-item-focus: #fff;
		--text-ctx-menu-item: #5747a6;
		--text-ctx-menu: #7a797d;

		--text-decorations-down: #e4e1e1;
		--text-placeholder: #a3a3a3;
		--text-alternative: #e4e1e1;
		--text-disabled: #d3d3d5;
		--text-normal: #f6f6f6;
		--text-oposite: white;
		--text-muted: #ccb69b;
		--text-input: #f5f5f5;

		/* Border */
		--border-input: #4d4d4d;

		/* Background */
		--bg-ctx-menu-item-focus: #6c56d0;
		--bg-ctx-menu: #fff;

		--bg-media-player-icon-button-hovered: #fff4;
		--bg-icon-button-hovered: #fff2;

		--bg-decorations-down: #3c3d47;
		--bg-button-hover: #08368d;
		--bg-highlight: #c04569;
		--bg-selected: #252121;
		--bg-popover: #182825;
		--bg-navbar: #191a21;
		--bg-button: #191a21;
		--bg-dialog: #182825;
		--bg-playing: black;
		--bg-media: #191a21;
		--bg-main: #191a21;
		/* Falta esse: */
		--bg-select: #fff;

		/* Shadows */
		--shadow-dialog: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
			hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

		--shadow-media-player-img: rgba(0, 0, 0, 0.3) 0 0 20px;

		--shadow-row-wrapper: rgba(255, 255, 255, 0.16) 0 0 6px;

		--shadow-reflect: 0px 50px 70px rgba(0, 0, 0, 0.3),
			0px 10px 10px rgba(0, 0, 0, 0.1);

		/* Shadow colors */
		--shadow-glow-around-component: 7px 7px 14px #b1b1b1, -7px -7px 14px #fff;

		--shadow-popover: 0 0 8px rgba(0, 0, 0, 0.3);
	}

	* {
		transition-property: color, background-color, border-color, box-shadow,
			-webkit-scrollbar-track, -webkit-scrollbar-thumb, caret-color;
		transition-timing-function: ease;
		transition-duration: 0.25s;
	}

	*,
	*::after,
	*::before {
		text-rendering: optimizeLegibility;
		box-sizing: border-box;

		overscroll-behavior: none;
	}

	html {
		@apply caret-accent selection:bg-accent selection:text-white overflow-hidden;
	}

	body {
		position: fixed;
		line-height: 1.5;

		contain-intrinsic-size: 1px 5000px;
		content-visibility: auto;
		overflow: hidden;
	}

	body::-webkit-scrollbar {
		display: none;
	}

	button {
		-webkit-app-region: no-drag;
	}

	/* assistant-300 - latin */
	@font-face {
		src: url("./assets/assistant-v16-latin-300.woff2") format("woff2");
		font-family: "Assistant";
		font-style: normal;
		font-weight: 300;
	}

	/* assistant-regular-400 - latin */
	@font-face {
		src: url("./assets/assistant-v16-latin-regular.woff2") format("woff2");
		font-family: "Assistant";
		font-style: normal;
		font-weight: 400;
	}

	/* assistant-500 - latin */
	@font-face {
		src: url("./assets/assistant-v16-latin-500.woff2") format("woff2");
		font-family: "Assistant";
		font-style: normal;
		font-weight: 500;
	}

	/* source-sans-pro-regular-400 - latin */
	@font-face {
		src: url("./assets/source-sans-pro-v21-latin-regular.woff2") format("woff2");
		font-family: "Source Sans Pro";
		font-style: normal;
		font-weight: 400;
	}
}

@layer components {
	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Grid */

	.grid-area-media-player {
		grid-area: media-player;
		height: var(--main-grid-height);
	}

	.grid-area-main {
		grid-area: main-area;
		height: var(--main-grid-height);
	}

	.grid-area-nav {
		grid-area: nav;
		height: var(--main-grid-height);
	}

	.grid-template-for-content-wrapper {
		@apply grid w-screen bg-main;

		grid-template: "nav main-area media-player" 100vw / 65px 1fr minmax(
				200px,
				25vw
			);
		height: var(--main-grid-height);
	}

	@media (max-width: 640px) {
		.grid-template-for-content-wrapper {
			grid-template-columns: 0.17fr 1.8fr;
			grid-template-rows: 1.6fr 0.7fr;
			grid-template-areas:
				"nav main-area"
				"media-player media-player";
		}

		.grid-area-media-player {
			grid-area: media-player;
			height: 100%;
		}

		.grid-area-main {
			@apply relative flex flex-col p-3 h-auto;

			grid-area: main-area;
		}

		.grid-area-nav {
			grid-area: nav;
			height: auto;
		}

		.search-media {
			width: 15rem !important;
		}

		.grouped-button {
			@apply px-2 h-10 !important;
		}
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Navbar */

	.nav {
		@apply text-icon-deactivated flex flex-col py-4 justify-between items-center sm:w-11 md:w-16 bg-navbar no-transition grid-area-nav;
	}

	.nav > button:where(:focus, :focus-visible, :hover) {
		@apply text-active;
	}

	.buttons-for-pages {
		@apply flex flex-col justify-center items-center w-full;
	}

	.buttons-for-pages button {
		@apply flex justify-center items-center h-11 w-11 bg-none border-none text-icon-deactivated text-base;
	}

	.buttons-for-pages button:where(:focus, :focus-visible, :hover) {
		@apply text-icon-active;
	}

	.buttons-for-pages button.active {
		@apply text-icon-active;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Search Media */

	.search-media {
		@apply relative flex justify-start items-center w-80 h-10 border-2 border-solid border-input cursor-default rounded-xl bg-none;
	}

	.search-media * {
		@apply transition-all ease-out duration-200;
	}

	.search-media:where(:focus-visible, :focus-within, :focus, :hover) {
		@apply border-active cursor-text;
	}

	.search-media:is:not(:blank) label {
		transform: translate(-44px, -31px);

		@apply text-active;
	}

	.search-media:where(:focus-visible, :focus-within, :focus, :hover) {
		@apply border-active cursor-text;
	}

	.search-media:where(:focus-visible, :focus-within, :hover, :focus) svg {
		@apply text-active;
	}

	.search-media:where(:focus-visible, :focus-within, :focus, :hover) label {
		transform: translate(-44px, -31px);

		@apply text-active;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Modal */

	.modal-content-wrapper {
		@apply invisible fixed inset-0 z-40 items-center justify-center overscroll-none overflow-hidden bg-[rgba(0,0,0,0.6)] transition-all duration-75 flex px-4;
	}

	.modal-outside {
		@apply inset-0 absolute;
	}

	.modal-state {
		@apply hidden;
	}

	.modal-state:checked + .modal-content-wrapper {
		@apply visible;
	}

	body:has(.modal-state:checked) {
		@apply overflow-hidden;
	}

	.modal-state:checked + .modal-content-wrapper .modal-content {
		@apply scale-100;
	}

	.modal-state:checked
		+ .modal-content-wrapper
		.modal-content:not(:focus-within) {
		transition: background-color 0.001s;
		background: #fff;
	}

	.modal-content {
		@apply relative h-max max-h-[90%] max-w-lg scale-90 rounded-xl bg-popover p-6 transition ease-in-out duration-75 overflow-hidden;
	}

	/* 1) modal-close-x (right top x close circled button) */

	.modal-close-x {
		@apply right-[1em] top-[1em] h-[1.1em] w-[1.1em] absolute cursor-pointer;
	}

	.modal-close-x:where(:after, :before) {
		@apply absolute h-6 content-[""] left-1/2 top-0 -mt-1.5 w-0.5 bg-gray-700;

		transform: rotate(45deg);
	}

	.modal-close-x:hover:where(:after, :before) {
		@apply bg-gray-600;
	}

	.modal-close-x:before {
		transform: rotate(-45deg);
	}

	/* 2) modal-close (a button) */

	.modal-close-reset {
		@apply transition-none cursor-pointer flex justify-center items-center bg-cyan-500 text-slate-800 text-base rounded-md w-full h-8 mt-3 hover:bg-cyan-400 focus:bg-cyan-400;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Animations */

	.animation-overlay-show {
		animation: overlay-show 70ms linear;
	}

	.animation-fall-away {
		animation: fall-away 600ms ease forwards;
	}

	.animation-move-up {
		animation: move-up 400ms ease 200ms forwards;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Utils */

	.unset-all {
		all: unset;
	}

	.center {
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
	}

	.app-drag-region {
		-webkit-app-region: drag;
		user-select: none;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Scrollbar */

	.scroll {
		scrollbar-gutter: stable;
		overflow-y: auto;
	}

	.scroll::-webkit-scrollbar {
		display: block;
	}

	.scroll::-webkit-scrollbar-track {
		background: var(--scrollbar);
	}

	.scroll::-webkit-scrollbar-thumb {
		background: var(--scrollbar-thumb);
	}

	.scroll::-webkit-scrollbar-thumb:hover {
		background: var(--scrollbar-thumb-hover);
	}

	.scroll-2::-webkit-scrollbar {
		width: 4px;
	}

	.scroll-1::-webkit-scrollbar {
		width: 2px;
	}

	.scroll-white {
		scrollbar-gutter: stable;
		overflow-y: auto;
	}

	.scroll-white::-webkit-scrollbar-track {
		background: white;
	}

	.scroll-white::-webkit-scrollbar-thumb {
		background: white;
	}

	.scroll-white::-webkit-scrollbar-thumb:hover {
		background: white;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Transitions */

	.no-transition * {
		transition: none !important;
	}

	.transition-width {
		transition-property: width;
	}

	.transition-bc-bg {
		@apply transition-[border-color,background] duration-200;
	}

	.transition-border-color {
		transition: border-color 200ms ease;
	}

	.transition-shadow:where(:focus, :focus-visible, :hover),
	.active-shadow {
		transition: box-shadow 100ms ease-out 32ms;
		box-shadow: var(--shadow-row-wrapper);
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Progress */

	.progress {
		@apply absolute flex justify-center items-center bottom-3 h-5 w-9 transition-none bg-main rounded-sm font-primary text-center text-sm text-normal font-medium;
	}

	progress[value]::-webkit-progress-value {
		background: var(--accent);
	}

	progress[value]::-webkit-progress-bar {
		background: #a8a8a880;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* FlipCard */

	.perspective-10 {
		perspective: 1000px;
	}

	.transform-preserve-3d {
		transform-style: preserve-3d;
	}

	.backface-visibility-hidden {
		backface-visibility: hidden;
	}

	.rotate-y-180 {
		transform: rotateY(180deg);
	}

	.flip-active > div {
		@apply rotate-y-180;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Button */

	.button {
		@apply flex justify-center items-center h-12 w-full mt-5 mx-auto mb-0 p-3 gap-4 whitespace-nowrap font-secondary tracking-wider font-medium border-accent border-solid cursor-pointer border-2 bg-none rounded-md text-decorations-down text-lg;
	}

	.button:where(:focus, :focus-visible, :hover) {
		@apply bg-accent text-white;
	}

	.button.large {
		@apply w-[300px] mt-10 mx-auto mb-0 rounded-lg;
	}

	.button.medium {
		@apply w-full h-12 mt-5 mx-auto mb-0 p-2 rounded;
	}

	.button.input {
		@apply hidden w-[calc(100%-115px)] h-9 border-2 border-solid border-input rounded-xl transition-bc-bg;
	}

	.button.input:where(:focus, :focus-visible, :hover) {
		@apply border-active bg-active text-white;
	}

	.button.circle {
		@apply w-72 h-72 rounded-full border-[1px];
	}

	.file-present {
		background: rgb(0, 255, 89);
		color: black;

		transition: border-color 200ms ease;
	}

	.file-present:where(:focus, :focus-visible, :hover) {
		@apply bg-active text-white;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* GroupedButton */

	.grouped-button {
		@apply relative flex justify-center items-center bg-button-hover border-none px-5 h-9 transition-colors ease-linear cursor-pointer active:scale-95 first:rounded-l-xl last:rounded-r-xl;
	}

	.grouped-button:where(:focus, :focus-visible, :hover) {
		@apply opacity-80;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Converting and Downloading */

	.has-items span {
		@apply absolute w-[1.1rem] h-[1.1rem] -right-2 top-0 bg-green-700 rounded-full;
	}

	.has-items span::before {
		@apply content-[attr(data-length)] relative flex justify-center items-center w-full h-full font-secondary tracking-wide text-white font-medium text-xs;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	.selected-row {
		@apply outline-none outline-selected-border -outline-offset-2 bg-selected;
	}

	.playing-row {
		@apply outline-none outline-playing-border -outline-offset-2 bg-playing;
	}

	.list {
		@apply scroll-2;
	}

	.single-button {
		@apply h-10 w-10 rounded-full p-0;
	}

	.reflect-img {
		-webkit-box-reflect: below 10px
			linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
	}

	.list-decimal-zero {
		list-style: decimal-leading-zero inside;
	}

	.active-icon {
		@apply text-icon-active;
	}

	.delete-media {
		background: #bb2b2e;
		color: white;
	}

	.delete-media:where(:focus, :focus-visible, :hover) {
		background: #821e20;
	}

	.row-wrapper {
		@apply box-border relative flex justify-start items-center w-[98%] h-16 left-2 transition-none rounded-lg p-2 transition-shadow;
	}

	.delete-media-overlay {
		@apply w-80 h-5;
	}

	.main-area-header {
		@apply relative flex justify-start items-center h-14 gap-4 mb-[5%];
	}

	.title {
		@apply text-2xl text-normal font-medium;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Ring loader */

	.ring-loader {
		position: relative;
		display: block;
		height: 100px;
		width: 100px;
	}

	.side-ring-loader {
		position: absolute;
		display: block;
		top: 0px;
		left: 0px;
		width: 100px;
		height: 100px;
		border: 10px solid white;
		opacity: 0.4;
		border-radius: 100%;
		perspective: 800px;
		animation: 2s linear 0s infinite normal none running;
	}

	.right-ring-loader {
		@apply side-ring-loader;

		animation-name: anim-right-ring-loader;
	}

	.left-ring-loader {
		@apply side-ring-loader;

		animation-name: anim-left-ring-loader;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Context Menu */

	.ctx-menu-item {
		@apply unset-all relative flex items-center h-6 cursor-pointer py-0 px-1 pl-6 rounded-sm text-ctx-menu-item font-secondary tracking-wide text-base leading-none select-none;
	}

	.ctx-menu-item[data-disabled] {
		@apply text-disabled pointer-events-none;
	}

	.ctx-menu-item[data-disabled] * {
		@apply text-disabled;
	}

	.ctx-menu-item[data-highlighted] {
		@apply text-ctx-menu-item-focus bg-ctx-menu-item-focus;
	}

	.ctx-menu-item[data-highlighted] * {
		@apply text-ctx-menu-item-focus;
	}

	.ctx-menu-item-slot {
		@apply flex justify-end ml-auto pl-12 pr-2 text-ctx-menu font-secondary tracking-wide text-base leading-none;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* ConvertBox */

	.box {
		@apply relative flex w-full h-[60px] border-2 border-solid border-input rounded-md p-2 tracking-wider font-primary text-placeholder;
	}

	.left {
		@apply flex flex-col w-full overflow-hidden gap-1 leading-none justify-between;
	}

	.left p {
		@apply text-muted whitespace-nowrap font-primary overflow-hidden;
	}

	.right {
		@apply flex flex-col justify-between w-5 h-full items-center gap-1;
	}

	.right button {
		@apply flex items-center justify-center w-5 h-5 cursor-pointer rounded-full no-transition [&_svg]:fill-[var(--text-alternative)];
	}

	.right button:where(:focus, :focus-visible, :hover) {
		@apply bg-icon-button-hovered [&_svg]:fill-[var(--text-oposite)];
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Select */

	.select-content {
		@apply bg-select rounded-md overflow-hidden;

		box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
			0px 10px 20px -15px rgba(22, 23, 24, 0.2);
	}

	.select-item {
		@apply flex relative items-center h-6 py-0 pr-9 pl-6 select-none cursor-pointer text-sm leading-none;

		color: #7d52c9;
	}

	.select-item[data-disabled] {
		pointer-events: none;
		color: #d5d4d7;
	}

	.select-item[data-highlighted] {
		color: var(--bg-select);
		background: #6e56cf;
		outline: none;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* DecorationsDown */

	.decorations-down {
		@apply relative flex justify-between items-center h-[var(--down-decorations-height)] w-screen bottom-0 select-none bg-decorations-down px-4;
	}

	.decorations-down p {
		@apply flex h-full text-decorations-down font-secondary tracking-wide text-sm text-center font-medium;
	}

	.decorations-down-left {
		@apply flex justify-center items-center gap-4 last:pr-4;
	}

	.decorations-down-right {
		@apply flex justify-center items-center gap-4 first:pl-4;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* ToggleTheme */

	.toggle-theme-button {
		@apply flex justify-center items-center w-11 h-11 bg-none border-none text-icon-deactivated;
	}

	.toggle-theme-button:where(:focus, :focus-visible, :hover) {
		@apply hover:text-icon-active focus:text-icon-active;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* CircleIconButton */

	.circle-icon-button {
		@apply relative flex justify-center items-center cursor-pointer bg-none rounded-full border-none;
	}

	.circle-icon-button:where(:focus, :focus-visible, :hover) {
		@apply bg-icon-button-hovered;
	}

	.circle-icon-button:disabled {
		@apply bg-none cursor-default pointer-events-none;
	}

	.circle-icon-button:disabled svg {
		@apply text-icon-media-player-disabled;
	}

	.circle-icon-button svg {
		@apply text-icon-media-player;
	}

	/* CircleIconButton variants */

	.circle-icon-button.small {
		@apply h-8 w-8;
	}

	.circle-icon-button.large {
		@apply h-12 w-12;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* DialogTrigger */

	.dialog-trigger {
		@apply unset-all relative flex justify-center items-center w-7 h-7 text-icon-deactivated cursor-pointer bg-none rounded-full border-none no-transition;
	}

	.dialog-trigger:where(:focus, :focus-visible, :hover) {
		@apply bg-icon-button-hovered;
	}

	.dialog-trigger:where(:focus, :focus-visible, :hover) svg {
		@apply text-normal bg-icon-button-hovered;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Popover */

	.popover {
		@apply flex flex-col p-1 gap-3 bg-popover overflow-x-hidden rounded-xl shadow-popover z-10 scroll scroll-1;
	}

	.popover:where(:focus, :focus-visible, :hover) {
		@apply shadow-popover outline-none;
	}

	.popover > p {
		@apply relative text-icon-deactivated font-secondary tracking-wide text-center font-medium;
	}

	/* Popover sizes */

	.nothing-found-for-convertions-or-downloads {
		@apply flex items-center justify-center h-28 w-64 overflow-hidden;
	}

	.nothing-found-for-search-media {
		@apply max-h-24 min-h-[3rem] w-80;
	}

	.convertions-or-downloads {
		@apply h-80 w-64;
	}

	.search-media-results {
		@apply absolute h-64 w-80 top-24 left-[calc(64px+3.5vw)];
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */

	/* Media Player */

	.aside {
		@apply grid-area-media-player relative inline-block justify-items-center items-center w-full justify-self-center self-start p-3 bg-gradient-to-br from-lingrad-top to-lingrad-bottom [&_svg]:text-icon-media-player;
	}

	.aside svg * {
		@apply text-icon-media-player;
	}

	/* ********************************** */
	/* ********************************** */
	/* ********************************** */
}

/* ********************************** */
/* ********************************** */
/* ********************************** */

/* Keyframes */

@keyframes overlay-show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fall-away {
	0% {
		top: 0;
	}

	25% {
		transform: rotateZ(-15deg);
	}

	100% {
		transform: rotateZ(-5deg);
		opacity: 0;
		top: 200px;
	}
}

@keyframes move-up {
	100% {
		/* -71 is the (height + 1 * gap): */
		transform: translateY(-71px);
	}
}

@keyframes anim-right-ring-loader {
	0% {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(180deg) rotateY(360deg) rotateZ(360deg);
	}
}

@keyframes anim-left-ring-loader {
	0% {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(360deg) rotateY(180deg) rotateZ(360deg);
	}
}
